fastapi
uvicorn
aiofiles
python-multipart
redis
pyjwt[crypto]
aiohttp
pyvips
pydantic-settings
aio-pika
pika
python-dotenv
pyclamd
httpx
opensearch-py
openpyxl
python-docx
pypdf
python-pptx
Pillow
pytesseract
ffmpeg-python

# SkyWalking APM — 分布式链路追踪
apache-skywalking