fastapi
uvicorn
aiofiles
python-multipart
requests
redis
pyjwt[crypto]
aiohttp
pyvips
pydantic-settings
aio-pika
pika
python-dotenv
pyclamd
httpx
opensearch-py
openpyxl
python-docx
pypdf
python-pptx
Pillow
pytesseract
ffmpeg-python