<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.project.mapper.FileMapper">
    <resultMap id="FileEntityMap" type="org.project.data.FileData">
        <id column="file_id" property="id"/>
        <result column="file_name" property="name"/>
        <result column="file_uploaded_time" property="uploaded_time"/>
        <result column="file_size" property="size"/>
        <result column="file_type" property="type"/>
        <result column="file_author_id" property="user_id"/>
        <result column="file_checksum" property="checksum"/>
        <result column="file_node_id" property="node_id"/>
        <result column="file_total_chunks" property="total_chunks"/>
        <result column="file_storage_path" property="storage_path"/>
    </resultMap>

    <insert id="insertFile" useGeneratedKeys="true" keyProperty="id" parameterType="org.project.data.FileData">
        insert into pcd_file_info_table(file_id, file_name, file_uploaded_time, file_size, file_type, file_author_id, file_checksum, file_node_id, file_total_chunks, file_storage_path)
        values(#{id}, #{name}, #{uploaded_time}, #{size}, #{type}, #{user_id}, #{checksum}, #{node_id}, #{total_chunks}, #{storage_path});
    </insert>

    <select id="findUserFilesByNodeId" resultMap="FileEntityMap">
        select * from pcd_file_info_table where file_node_id = #{node_id} and file_author_id = #{user_id};
    </select>

    <select id="findFileById" resultMap="FileEntityMap" parameterType="string">
        select * from pcd_file_info_table where file_id = #{file_id};
    </select>

    <select id="findUserFileByNodeIdAndName" resultMap="FileEntityMap">
        select * from pcd_file_info_table where file_node_id = #{node_id} and file_name = #{name} and file_author_id = #{user_id};
    </select>

    <update id="updateUserFileNameById" parameterType="string">
        update pcd_file_info_table set file_name = #{file_new_name} where file_id = #{file_id} and file_author_id = #{user_id};
    </update>

    <update id="updateUserFileParentNodeIdById" parameterType="string">
        update pcd_file_info_table set file_node_id = #{target_node_id} where file_id = #{file_id} and file_author_id = #{user_id};
    </update>

    <delete id="deleteUserFileById" parameterType="string">
        delete from pcd_file_info_table where file_id = #{file_id} and file_author_id = #{user_id};
    </delete>
</mapper>