<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.project.mapper.FolderNodeMapper">
        <resultMap id="FolderNodeEntityMap" type="org.project.model.entity.FolderNodeEntity">
        <id column="node_id" property="node_id"/>
        <result column="node_parent_id" property="parent_id"/>
        <result column="node_name" property="name"/>
        <result column="node_user_id" property="user_id"/>
        <result column="node_create_time" property="create_time"/>
        <result column="node_status" property="status"/>
    </resultMap>

    <select id="findFolderNodeByIdAndUserId"  resultMap="FolderNodeEntityMap">
        select * from pcd_directory_tree_table where node_id=#{node_id} and node_user_id=#{user_id};
    </select>

    <select id="findRootFolderNodeByUserId" resultMap="FolderNodeEntityMap">
        select * from pcd_directory_tree_table where node_user_id=#{user_id} and node_parent_id is null;
    </select>

    <select id="findFolderNodesByIdAndUserId"  resultMap="FolderNodeEntityMap">
        select * from pcd_directory_tree_table where node_parent_id=#{node_id} and node_user_id=#{user_id};
    </select>

    <insert id="insertFolderNode" useGeneratedKeys="true" keyProperty="node_id" parameterType="org.project.model.entity.FolderNodeEntity">
        insert into pcd_directory_tree_table (node_id, node_user_id, node_parent_id, node_name, node_create_time, node_status)
        values(#{node_id}, #{user_id}, #{parent_id}, #{name}, #{create_time}, #{status});
    </insert>

    <update id="updateFolderNodeNameByIdAndUserId">
        update pcd_directory_tree_table
        set node_name = #{new_name}
        where node_id = #{node_id} and node_user_id = #{user_id};
    </update>

    <update id="updateFolderNodeStatusByIdAndUserId">
        update pcd_directory_tree_table
        set node_status = #{new_status}
        where node_id = #{node_id} and node_user_id = #{user_id};
    </update>

    <update id="updateFolderNodeParentIdByIdAndUserId">
        update pcd_directory_tree_table
        set node_parent_id = #{new_parent_id}
        where node_id = #{node_id} and node_user_id = #{user_id};
    </update>

    <delete id="deleteFolderNodeByIdAndUserId">
        delete from pcd_directory_tree_table where node_id = #{node_id} and node_user_id = #{user_id};
    </delete>
</mapper>