<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.project.im.platform.mapper.ImGroupMemberMapper">

    <resultMap id="BaseResultMap" type="org.project.im.platform.entity.ImGroupMember">
        <id column="id" property="id"/>
        <result column="group_id" property="groupId"/>
        <result column="user_id" property="userId"/>
        <result column="role" property="role"/>
        <result column="alias" property="alias"/>
        <result column="mute_until" property="muteUntil"/>
        <result column="last_read_seq" property="lastReadSeq"/>
        <result column="join_time" property="joinTime"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <sql id="BaseColumns">
        group_id, user_id, role, alias, mute_until, last_read_seq, join_time, create_time
    </sql>

    <insert id="insert" parameterType="org.project.im.platform.entity.ImGroupMember">
        INSERT INTO pcd_im_group_member (<include refid="BaseColumns"/>)
        VALUES (#{groupId}, #{userId}, #{role}, #{alias}, #{muteUntil}, #{lastReadSeq}, #{joinTime}, #{createTime})
    </insert>

    <delete id="deleteByGroupIdAndUserId">
        DELETE FROM pcd_im_group_member
        WHERE group_id = #{groupId} AND user_id = #{userId}
    </delete>

    <select id="selectByGroupIdAndUserId" resultMap="BaseResultMap">
        SELECT id, <include refid="BaseColumns"/>
        FROM pcd_im_group_member
        WHERE group_id = #{groupId} AND user_id = #{userId}
    </select>

    <select id="selectByGroupId" resultMap="BaseResultMap">
        SELECT id, <include refid="BaseColumns"/>
        FROM pcd_im_group_member
        WHERE group_id = #{groupId}
        ORDER BY role ASC, join_time ASC
    </select>

    <select id="countByGroupId" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM pcd_im_group_member
        WHERE group_id = #{groupId}
    </select>

    <update id="updateRole">
        UPDATE pcd_im_group_member
        SET role = #{role}
        WHERE group_id = #{groupId} AND user_id = #{userId}
    </update>

    <update id="updateMute">
        UPDATE pcd_im_group_member
        SET mute_until = #{muteUntil}
        WHERE group_id = #{groupId} AND user_id = #{userId}
    </update>

    <update id="updateLastReadSeq">
        UPDATE pcd_im_group_member
        SET last_read_seq = #{lastReadSeq}
        WHERE group_id = #{groupId} AND user_id = #{userId}
    </update>

    <select id="existsByGroupIdAndUserId" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM pcd_im_group_member
        WHERE group_id = #{groupId} AND user_id = #{userId}
    </select>
</mapper>